.ember-view {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;

  background-color: var(--color-primary);
  color: var(--white);
  padding: 0 1em;
}

aside {
  grid-column: 1 / 1;
  grid-row: 2;

  background-color: var(--color-secondary);
  color: var(--white);
  padding: 1em;
}

main {
  grid-column: 2 / 2;
  grid-row: 2;

  padding: 1em;
}

main #search {
  width: 100%;
  padding: 1em;
  font-size: 1em;
}

.category {
  background-color: #e8e8e8;
  border-radius: .5em;
  padding: 1em;
  margin-top: 1em;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.input label {
  margin-bottom: 0.5em;
}
