<div id="container">
  <header>
    <nav>
      <ul>
        <li>Risico taxatie</li>
        <li>{{#link-to "introduction"}}
          Introductie
        {{/link-to}}</li>
        <li>{{#link-to "index"}}
          Risico taxator
        {{/link-to}}</li>
      </ul>
    </nav>
  </header>

  {{outlet}}
</div>
