<aside class="sidebar">
  <h2>Risico taxatie</h2>

  <div class="risk-field">
    <p>Risico op uithuisplaatsing:</p>
    <p id="risk">Er is nog geen risico</p>
  </div>

  <div class="better-view">
    <h5>Vul de volgende punten in om een beter beeld te krijgen:</h5>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
</aside>

<main id="main-taxation">
  <section>
    <input id="search" type="text" name="search" placeholder="Zoek op categorie">
  </section>

  <div class="">
    {{risk-input parsedData=model}}
  </div>

</main>
